* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #df7e7e;
}

header {
    background-color: #ef9999;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

header .logo {
    font-size: 20px;
    font-family: 'Pacifio', cursive;
    font-weight : bold;
}

nav ul {
    list-style: none;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.banner {
    color: rgb(228, 117, 117);
    text-align: center;
    padding: 9px 20px;
    background-size: cover;
    background-position: center;
}

.banner h1 {
    font-size: 48px;
    margin-bottom: 34px;
    padding:20px 20px;
}

.banner button {
    gap:20px;
    padding: 10px 20px;
    background-color: #e9887d;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-bottom:12px;
}
.p {
    margin-bottom: 20px;
}
.menu {
    padding: 20px;
    text-align: center;
}

.menu h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.item {
    width: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


